<!-- About Section -->
<section class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2 class="society">NOTRE ENTREPRISE</h2>
          <br/>
          <p>
            LIKE Menuiserie est une entreprise spécialisée dans la commercialisation et la pose de menuiseries « sur-mesure » en PVC, Bois, ou Aluminium.
            Nos équipes interviennent sur Bordeaux Métropole et l'ensemble du département de la Gironde en direct chez les particuliers en rénovation et sur des projets en neuf.
          </p>
          <p>
            LIKE Menuiserie bénéficie d’un réseau local ainsi que d'appui logistique et techniques qui lui permet d'assurer son savoir-faire tout en étant compétitive sur son marché.
          </p>
          <h3>Notre mission</h3>
          <p class="last-p">
            Chez LIKE, la satisfaction des clients est LA priorité numéro 1, c'est la raison pour laquelle nous avons décidé d'en faire notre mission.
          </p>
        </div>
    </div>
</section>
