<div class="content-container">
  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/img_snowtops.jpg" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>The Italian / Austrian Alps</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>
