<div class="col-lg-8 col-lg-offset-2">
  <h2 id="intro-cards" class="text-center">SUR MESURE PVC - BOIS - ALU</h2>
  <p class="text-center">
    Nous avons acquis une certaine réputation grâce aux relations que nous avons
    développées avec nos clients au fil des années.
    Nous sommes convaincus que tous nos clients méritent les meilleurs services,
    et nous avons décidé d'en faire notre mission.
  </p>
</div>
<div class="content-container col-lg-offset-2">
  <div class="py-5">
    <div class="cards-container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/fenetre.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Fenêtres & coulissants</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/volets-roulants.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Volets roulants</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/portail.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Portails automatiques</p>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/verrieres-atelier.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Verrieres atelier</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/velux-solaires.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Vélux solaires</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/stores-banne.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Stores banne</p>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/portes-garage.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Portes de garages</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/porte-entree.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Portes d'entrée</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="w3-card-4" style="width:80%">
              <img src="/menuiseries/img/blindee.png" alt="Alps" style="width:100%">
              <div class="w3-container w3-center">
                <p>Portes blindée</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>
