<div class="row first-part">
  <div class="col-lg-8 col-lg-offset-2">
    <h2 id="intro-cards" class="text-center">NOS CHANTIERS</h2>
    <p class="text-center">
      <!-- Nous délivrons nos services sur du neuf, comme sur de la rénovation, sur
      Bordeaux Métropole et l'ensemble de la Gironde. -->
  </div>
</div>
<div class="row second-part">
  <div id="carousel">
     <div class="hideLeft">
      <img id="myImg-1" src="/chantiers/img/fenetre-interieur.png" alt="Fenêtre interieur">
    </div>
    <div class="prevLeftSecond">
      <!-- Trigger the Modal -->
      <img id="myImg-2" src="/chantiers/img/horseau.png" alt="Porte d'entrée">
    </div>
    <div class="prev">
      <!-- Trigger the Modal -->
      <img id="myImg-3" src="/chantiers/img/veranda.png" alt="Veranda">
    </div>
    <div class="selected">
      <!-- Trigger the Modal -->
      <img id="myImg-4" src="/chantiers/img/arcachon.png" alt="Stores banne">
    </div>
    <div class="next">
      <!-- Trigger the Modal -->
      <img id="myImg-5" src="/chantiers/img/fenetre-chantier.png" alt="Fenêtres">
    </div>
    <div class="nextRightSecond">
      <!-- Trigger the Modal -->
      <img id="myImg-6" src="/chantiers/img/bouscat.png" alt="Portail - Clotures
            - Portier vidéo">
    </div>
    <div class="hideRight">
      <img id="myImg-7" src="/chantiers/img/velux.png" alt="Velux">
    </div>
    <div class="hideRight">
      <img id="myImg-8" src="/chantiers/img/fenetre-exterieur.png" alt="Fenêtre exterieur">
    </div>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>
  <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>
</div>

