<div class="row first-part">
  <div class="col-lg-8 col-lg-offset-2">
    <h2 id="intro-cards" class="text-center">NOS CHANTIERS</h2>
    <p class="text-center">
      Nous délivrons nos services sur du neuf, comme sur de la rénovation, sur
      Bordeaux Métropole et l'ensemble de la Gironde.
  </div>
</div>
<div class="row second-part">
  <div id="carousel">
     <!-- <div class="hideLeft">
      <img src="/menuiseries/img/fenetre.png">
    </div> -->
    <div class="prevLeftSecond">
      <img src="/likemenuiserie-beta/chantiers/img/horseau.png">
    </div>
    <div class="prev">
      <img src="/likemenuiserie-beta/chantiers/img/fenetre.png">
    </div>
    <div class="selected">
      <img src="/likemenuiserie-beta/chantiers/img/arcachon.png">
    </div>
    <div class="next">
      <img src="/likemenuiserie-beta/chantiers/img/portail.png">
    </div>
    <div class="nextRightSecond">
      <img src="/likemenuiserie-beta/chantiers/img/bouscat.png">
    </div>
    <!-- <div class="hideRight">
      <img src="/menuiseries/img/portes-garage.png">
    </div> -->
  </div>
  <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>
</div>

