<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-8">
          <ul class="list-inline">
            <li>
              <a href="/">Acceuil</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/#about">Notre Entreprise</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/menuiseries">Nos menuiseries</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/chantiers">Nos chantiers</a>
            </li>
            <li>
              <a class="page-scroll" href="/likemenuiserie-beta/contact">Contact</a>
            </li>
          </ul>
          <p class="copyright text-muted small">
            Copyright © 2019 created by <a href="https://ismaelsane.github.io/">Airylight web developement</a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
          {{ site.credits }}
      </div>
    </div>
  </div>
</footer>
