<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-8">
          <ul class="list-inline" style="color: #428bca;">
            <li>
              <a href="{{ "/" | relative_url }}">Accueil</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="{{ "/#about" | relative_url }}">Notre Entreprise</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="{{ "/menuiseries" | relative_url }}">Nos menuiseries</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="{{ "/chantiers" | relative_url }}">Nos chantiers</a>
            </li>
            <li>
              <a class="page-scroll" href="{{ "/contact" | relative_url }}">Contact</a>
            </li>
          </ul>
          <p class="copyright text-muted small">
            Copyright © 2019 created by
            <a href="https://ismaelsane.github.io/" style="color: #428bca;">
              Airylight web developement
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4 credits">
          {{ site.credits }}
      </div>
    </div>
  </div>
</footer>
