<section>
  <div class="banner">
    <div class="container-like">

      <div class="row">
        <h3 class="text-center">ILS NOUS ONT FAIT CONFIANCE</h3>
        <div class="testimonials">
          <ul>
            <li>
              <img src = "/annick-paul.png">
              <p>"Je souhaitais un produit de qualité. J'ai eu une réponse de
                qualité, tant au niveau du conseil et de l'élaboration de la
                solution, que de la réalisation. Le tout pour un prix tout à fait
                honnête et compétitif."
              </p>
              <h1>Annick et Paul - Le Bouscat</h1>
            </li>
            <li>
              <img src = "/joel.png">
              <p>"Très bon échange par mail et très rapide en moins de 8 jours. Tout c'est passé normalement selon mes attentes. Je conseillerais à mes connaissances de prendre contact avec la société Like Menuiserie."</p>
              <h1>Joël - Pessac</h1>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->

  </div>
</section>
<!-- /.banner -->
