<section>
  <div class="banner">
    <div class="container-like">

      <div class="row">
        <h3 class="text-center">ILS NOUS ONT FAIT CONFIANCE</h3>
        <div class="testimonials">
          <ul>
            <li>
              <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkSflTI9DIJAstZ8fesrSz70HR8oH9BN_d8w0cjGEtiZyqDcs8">
              <p>"Produit de grande qualité. Une belle finition alu à l'extérieur ce qui permet de ne pas avoir d'entretien et le bois chaleureux à l'intérieur de ma maison ! Très satisfaite du résultat."</p>
              <h1>Martin - Bordeaux Chartrons</h1>
            </li>
            <li>
              <img src = "https://i.pinimg.com/236x/2d/e5/7f/2de57f8025bd64dffd554de0f080ee7f--my-pinterest-pinterest-board.jpg?b=t">
              <p>"Nous sommes satisfaits de votre prestation. Vos salariés ont fait du bon boulot et dans l’organisation ont su faire attention à limiter les différentes nuisances."</p>
              <h1>Julie - Cestas</h1>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->

  </div>
</section>
<!-- /.banner -->
