<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XLJV5K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% if page.landing-page %}
      {% include header.html %}
      {% include hero.html %}
      {% include about.html %}
      {% include page_content.html %}
      {% include testimony.html %}
      {% include footer.html %}
      {% include js.html %}
    {% elsif page.menuiseries %}
      {% include header.html %}
      {% include cards.html %}
      {% include footer.html %}
      {% include js.html %}
    {% elsif page.chantiers %}
      {% include header.html %}
      {% include chantiers.html %}
      {% include footer.html %}
      {% include js.html %}
    {% elsif page.mentions %}
      {% include header.html %}
      {% include mentions.html %}
      {% include footer.html %}
      {% include js.html %}
    {% else %}
      {% include header.html %}
      {% include form.html %}
      {% include footer.html %}
      {% include js.html %}
    {% endif %}
  </body>
</html>
